<!DOCTYPE html>
<html>
    <head>
        <!-- <% players.forEach((player) => { %>
            <% Object.entries(player).forEach(([key, value]) => { %>
                <% if (typeof value === 'object') { %>
                    <h3><%= key %></h3>
                    <% Object.entries(value).forEach(([key, value]) => { %>
                        <% if (typeof value === 'object') { %>
                            <h3><%= key %></h3>
                            <% Object.entries(value).forEach(([key, value]) => { %>
                                <h3><%= key %></h3><h4><%= value %></h4>
                            <% }); %>
                        <% } else { %>
                            <h3><%= key %></h3><h4><%= value %></h4>
                        <% } %>
                    <% }); %>
                <% } else if (key !== "__v" && key !== "_id") { %>
                    <h3><%= key %></h3><h4><%= value %></h4>
                <% } %>
            <% }); %>
        <% }); %> -->
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <input type="text" id="nomePlayer" value="comando" />
        <dl id="fisico" class="classePericia">
            <dt>
                <input
                    type="text"
                    name="briga"
                    id="inputBriga"
                    maxlength="2"
                    value="18"
                    onkeyup="this.value=this.value.replace(/\D/,'')"
                />
                <button
                    onclick="RollD20(this.name)"
                    name="briga"
                    id="buttonBriga">
                    Briga
                </button>
            </dt>
        </dl>

        <!-- <dl id="ciencias" class="classePericia">
            <dt>

            </dt>
        </dl> -->

        <p id="resultadoTexto"></p>
        <script src="javascripts/helpers.js"></script>
        <script src="javascripts/dadosPericias.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            // function getValueAtStart() {
            //     const classesPericias =
            //         document.getElementsByClassName("classePericia");
            //     for (let classePericia of classesPericias) {
            //         players[getValue("nomePlayer")].pericias[classePericia.id];
            //     }
            // };
        </script>
    </body>
</html>
