<!DOCTYPE html>
<html>
    <head>
        <!-- <% players.forEach((player) => { %>
            <% Object.entries(player).forEach(([key, value]) => { %>
                <% if (typeof value === 'object') { %>
                    <h3><%= key %></h3>
                    <% Object.entries(value).forEach(([key, value]) => { %>
                        <% if (typeof value === 'object') { %>
                            <h3><%= key %></h3>
                            <% Object.entries(value).forEach(([key, value]) => { %>
                                <h3><%= key %></h3><h4><%= value %></h4>
                            <% }); %>
                        <% } else { %>
                            <h3><%= key %></h3><h4><%= value %></h4>
                        <% } %>
                    <% }); %>
                <% } else if (key !== "__v" && key !== "_id") { %>
                    <h3><%= key %></h3><h4><%= value %></h4>
                <% } %>
            <% }); %>
        <% }); %> -->
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>

        <button 
        onclick="RollD20()" 
        id="RolarD20">RollD20
        </button>

        <input 
        type="text" 
        id="inputPericia" 
        maxlength="2" 
        onkeyup="this.value=this.value.replace(/\D/,'')"/>

        <p id="resultadoTexto"></p>

        <script src="javascripts/dadosPericias.js"></script>
    </body>
</html>
