<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <center id="resultadoTexto"></center>
        <% players.forEach((player) => { %>
        <center><%= player.Nome %></center>
        <div class="grid-container">
            <% Object.entries(player.Perícias).forEach(([classePericia, nomesPericias]) => { %>
            <dl id="<%= classePericia %>" class="classePericia">
                <h5 class="tituloPericia"><%= classePericia %></h5>
                <% Object.entries(nomesPericias).forEach(([pericia, valor]) => { %>
                <dt>
                    <br/>
                    <button
                        onclick='mudarValorPericia(this, "<%= player.Nome %>", "<%= classePericia %>", "<%= pericia %>", -1)'
                    >
                        -
                    </button>
                    <button
                        onclick='mudarValorPericia(this, "<%= player.Nome %>", "<%= classePericia %>", "<%= pericia %>", 1)'
                    >
                        +
                    </button>
                    <p class="periciaValue"" id="<%= pericia %>"><%= valor %></p>
                    <button
                        onclick="RollD20(this.name)"
                        name="<%= pericia %>"
                        id="button<%= pericia %>"
                    >
                        <%= pericia %>
                    </button>
                    <% }) %>
                </dt>
            </dl>
            <% }); %> <% }); %>
        </div>
        <script src="javascripts/updatePericias.js"></script>
        <script src="javascripts/dadosPericias.js"></script>
        <script src="javascripts/helpers.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>
