<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <!-- <input type="text" id="nomePlayer" value="comando" /> -->
        <% players.forEach((player) => { %>
            <h4><%= player.nome %></h4>
            <% Object.values(player.pericias).forEach((classePericia) => { %>
            <dl id="<%= classePericia.nome %>" class="classePericia">
                <% Object.entries(classePericia).forEach(([pericia, valor]) => { %>
                    <dt>
                        <input
                            type="text"
                            name=<%= pericia %>
                            id="input<%= pericia %>"
                            maxlength="2"
                            value=<%= valor %>
                            onkeyup="this.value=this.value.replace(/\D/,'')"
                        />
                        <button
                            onclick="RollD20(this.name)"
                            name=<%= pericia %>
                            id="button<%= pericia %>">
                            <%= pericia.replace(/([A-Z]+)/g, " $1").replace(/([A-Z][a-z])/g, " $1") //camelCase para Title Case %>
                        </button>
                    </dt>
                <% }); %>
            </dl>
            <% }); %>
        <% }); %>

        <p id="resultadoTexto"></p>
        <script src="javascripts/helpers.js"></script>
        <script src="javascripts/dadosPericias.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>
