<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <!-- <input type="text" id="nomePlayer" value="comando" /> -->
        <% players.forEach((player) => { %>
            <h4><%= player.Nome %></h4>
            <% Object.entries(player.Perícias).forEach(([classePericia, nomesPericias]) => { %>
                <dl id="<%= classePericia %>" class="classePericia">
                    <h5 class="tituloPericia"><%= classePericia %></h5>
                <% Object.entries(nomesPericias).forEach(([pericia, valor]) => { %>
                    <dt>
                        <button onclick='mudarValorPericia(this, "<%= player.Nome %>", "<%= classePericia %>", "<%= pericia %>", -1)'>
                            -
                        </button>
                        <button onclick='mudarValorPericia(this, "<%= player.Nome %>", "<%= classePericia %>", "<%= pericia %>", 1)'>
                            + 
                        </button>
                        <p id="<%= pericia %>"><%= valor %></p>
                        <button
                            onclick="RollD20(this.name)"
                            id="button<%= pericia %>">
                            <%= pericia %>
                        </button>
                    </dt>
                <% }); %>
            </dl>
            <% }); %>
        <% }); %>

        <p id="resultadoTexto"></p>
        <script src="javascripts/updatePericias.js"></script>
        <script src="javascripts/dadosPericias.js"></script>
        <script src="javascripts/helpers.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>
