<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body onload=esconderCoisas()>
        <% players.forEach((player) => { %>
        <div class="nomePlayer"><%= player.Nome %></div>
        <div class="imgEsqueleto">
            <img src="images/Esqueleto.png" alt="imgEsqueleto" id="imgEsqueleto">
        </div>
        <div class="racaPlayer"><%=player.Raça%></div>
        <div class="grid-container">
            <% Object.entries(player.Perícias).forEach(([classePericia, nomesPericias]) => { %>
            <dl id="<%= classePericia %>" class="classePericia">
                <h5 class="tituloPericia"><%= classePericia %></h5>
                <% Object.entries(nomesPericias).forEach(([pericia, valor]) => { %>
                <dt>
                    <br/>
                    <button class="down"
                        id="down<%= pericia%>"
                        onclick='mudarValorPericia(this, "<%= player.Nome %>", "<%= classePericia %>", "<%= pericia %>", -1)'
                    >
                        -
                    </button>
                    <button class="periciaValue"" id="<%= pericia %>"><%= valor %></button>
                    <button class="up"
                        id="up<%= pericia%>"
                        onclick='mudarValorPericia(this, "<%= player.Nome %>", "<%= classePericia %>", "<%= pericia %>", 1)'
                    >
                        +
                    </button>
                    
                    <button
                        onclick="RollD20(this.name)"
                        class="rolarBotao"
                        name="<%= pericia %>"
                        id="button<%= pericia %>"
                    >
                        <%= pericia %>
                    </button>
                    <% }) %>
                </dt>
            </dl>
            <% }); %> <% }); %>
        </div>
        <div id="containerD20">
            <img src="images/D20.png" alt="imgD20" id="imgD20">
            <div class="centered" id="dadoTexto"></div>
        </div>
        <div id="resultadoTexto"></div>
        <script src="javascripts/esconderComeco.js"></script>
        <script src="javascripts/updatePericias.js"></script>
        <script src="javascripts/dadosPericias.js"></script>
        <script src="javascripts/helpers.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>
